.column_link {
    flex: 30%;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.column_link:hover .img_link {
    opacity: 0.3;
}

.column_link:hover .header {
    opacity: 0.3;
}

.underneath_image {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: 60%;
  }

.underneath_image_small {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    bottom: 60%;
    text-align: center;
}

.underneath_image_single {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    text-align: center;
    right: 50%;
}

.column_link:hover .underneath_image {
    opacity: 1;
}

.underneath_image div {
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
}

.underneath_image_single div {
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
}

.row {
    display: flex;
    margin-top: 5px;
  }
  
.column {
    flex: 30%;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 10px;
}

.spacer {
    flex: 5%;
    padding: 5px;
    margin-right: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}

hr {
    border-top: 1px solid black;
}

.content {
    display: block;
    margin-top: 5px;
}

.split {
    display: flex;
}
  
.split-col {
    flex: 50%;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.text_container {
    background-color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.image_container {
    background-color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links_container {
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
}
  
.link {
    flex: 7.5%;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    max-height: 100px;
}

.single_link {
    background-color: #fff;
    border-radius: 10px;
    width: 7.5%;
    height: fit-content;
    position: relative;
    left: 46.25%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.link:hover .img_link {
    opacity: 0.3;
}

.single_link:hover .img_link {
    opacity: 0.3;
}

.link:hover .underneath_image_small {
    opacity: 1;
}

.single_link:hover .underneath_image_small {
    opacity: 1;
}

.link:hover .underneath_image_single {
    opacity: 1;
}

.single_link:hover .underneath_image_single {
    opacity: 1;
}

.link_spacer {
    flex: 42.5%;
}

p {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

h3 {
    text-align: center;
    margin-bottom: 2px;
}

code {
    font-family: monospace;
}

/* Slideshow animation */
.my_slides {
    display: none;
}
  
.prev, .next {
    cursor: pointer;
    width: auto;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    position: relative;
    bottom: 50%;
}
  
.next {
    left: 95%;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 1%;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
  
.number_text {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}